@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    
}

.active{
  color: rgb(9 40 97);
}

.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }

  .heading {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    max-width: 25rem;
    font-weight: 600;
    font-size: 28px;
    color: rgb(9 40 97);
    margin: auto;
  }
  
  .heading::before,
  .heading::after {
    flex: 1;
    content: "";
    height: .2rem;
    border-block: .15rem solid rgb(215 172 86);
  }

  /* From Uiverse.io by Creatlydev */ 
.card {
    width: min(250px, 100%);
    margin: auto;
    background-color: #f4f5f2;
    text-align: center;
    border-top-left-radius: 4rem;
    border: 2px solid #fff;
    position: relative;
    margin-top: 10px;
    transition: all ease-in-out 0.3s;
  }

  .card:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    scale: 1.03;
  }
  
  .card::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 120px;
    background-color: #08377b;
    top: 32px;
    right: -2.5px;
    -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  }
  
  .card__body {
    padding: 2rem 1.5rem;
    max-width: 25ch;
    margin: auto;
  }
  
  .card__title {
    font-weight: 800;
    color: #121513;
    font-size: 1.25rem;
    margin-block: 1.5rem 0.75rem;
  }
  
  .card__paragraph {
    color: #303830;
    font-size: 0.875rem;
  }
  
  .card__ribbon {
    margin-top: 1.5rem;
    display: grid;
    place-items: center;
    height: 50px;
    background-color: #08377b;
    position: relative;
    width: 110%;
    left: -5%;
    top: 10px;
    position: relative;
    border-radius: 0 0 2rem 2rem;
  }
  
  .card__ribbon::after,
  .card__ribbon::before {
    content: "";
    position: absolute;
    width: 20px;
    aspect-ratio: 1/1;
    bottom: 100%;
    z-index: -2;
    background-color: #08377b;
  }
  
  .card__ribbon::before {
    left: 0;
    transform-origin: left bottom;
    transform: rotate(45deg);
  }
  
  .card__ribbon::after {
    right: 0;
    transform-origin: right bottom;
    transform: rotate(-45deg);
  }
  
  .card__ribbon-label {
    display: block;
    width: 84px;
    aspect-ratio: 1/1;
    background-color: #fff;
    position: relative;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 8px solid #08377b;
    display: grid;
    place-items: center;
    font-weight: 900;
    line-height: 1;
    font-size: 1.5rem;
  }
  
  .card__ribbon-label::before,
  .card__ribbon-label::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 50%;
  }
  
  .card__ribbon-label::before {
    right: calc(100% + 4px);
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 #08377b;
  }
  
  .card__ribbon-label::after {
    left: calc(100% + 4px);
    border-bottom-left-radius: 20px;
    box-shadow: -5px 5px 0 #08377b;
  }

  .bg {
    background-image: url("./assets/bg.jpg");
  
  }

  /* From Uiverse.io by abrahamcalsin */ 
.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #08377b;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}

.button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ffaf00;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.button:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

/* Footer  */


.footer {
  background-color: rgb(11, 40, 99);
  color: #fff;
}
.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  width: 100%;
}
.footer-wave-path {
  fill: rgba(255, 255, 255, 0.87);;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 350px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
color: #fff;
text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.footer-logo-link h1 {
  margin-top: -12px;
}


.footer-menu {
  margin-top: 30px;
  margin-left: 15px;
}

.address {
  width: 200px;
  font-size: 14px;
  line-height: 18px;
  margin-top: -30px;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: #00bef0;
}
.button:last-of-type {
  margin-right: 0;
}
.footer-call-to-action-button {
  background-color: #027b9a;
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s;
  cursor: pointer;
  position: relative;
}
.footer-call-to-action {
  margin-top: 30px;
}
.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}





.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #027b9a;
}

.footer-social-link.linkedin {
  height: 26px;
  left: 3px;
  top: 11px;
  width: 26px;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: #fffff2;
  transition: fill .2s;
}

.footer-social-link.twitter {
  height: 28px;
  left: 62px;
  top: 3px;
  width: 28px;
}

.footer-social-link.youtube {
  height: 24px;
  left: 123px;
  top: 12px;
  width: 24px;
}

.footer-social-link.github {
  height: 34px;
  left: 172px;
  top: 7px;
  width: 34px;
}

.footer-copyright {
  background-color: #027b9a;
  color: #fff;
  padding: 15px 30px;
text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}

.footer-end {
  display: flex;
  justify-content: space-evenly;
  height: auto;
}

.footer-end p {
  font-size: 14px;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 1050px;
  position: relative;
}
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 1050px;
  position: relative;
}
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 1050px;
  position: relative;
}
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 350px;
    position: relative;
}

.footer-wave-svg {
    height: 50px;
}

.footer-content-column {
    width: 24.99%;
}
}
@media (min-width: 568px) {
/* .footer-content-column {
    width: 49.99%;
} */
}



.mySwiper {
  align-items: center !important;
  display: flex;
  justify-content: center !important;
  width: 100%;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;

}


.slide {
  width: 250px;
  height: 350px;
  border-radius: 20px;
  margin-bottom: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.slide img {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  /* filter: grayscale(100%); */
}

.slide h6 {
  position: absolute;
  top: 85%;
  color: #fbfbfb;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(14, 14, 15);
  font-weight: 600;
}

.slide p {
  position: absolute;
  bottom: -30%;
  font-size: 12px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide:hover img {
  filter: blur(3px) !important;
  filter: brightness(55%);
}

.slide:hover h6 {
  scale: 1.2;
  transition: all ease-in-out 0.3s;
  transform: translateY(-150%);
}

.slide:hover p {
  scale: 1.2;
  transition: all ease-in-out 0.3s;
  transform: translateY(-150%);
}

.slide:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-color: #000000 !important;
}


/* From Uiverse.io by felipesntr */ 
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
 }
 
 .text {
 text-wrap:wrap;
 width:2.5rem;
 font-size:12px;
 align-text:center;
 font-weight:800;
 display:flex;
 color:gray;
 
 }
 
 .out-1 {
  position: absolute;
  width: 8em;
  height: 8em;
  border-radius: 100%;
  border: 0.2em solid transparent;
  border-top-color: rgb(43, 226, 83);
  animation: rec 2s infinite;
  transition: all ease-in-out 0.3s;
 }
 
 .out-2 {
  position: absolute;
  width: 8em;
  height: 8em;
  border-radius: 100%;
  border: 0.2em solid transparent;
  border-left-color: rgb(226, 223, 43);
  animation: rec 2s infinite;
  transition: all ease-in-out 0.3s;
 }
 
 .out-3 {
  position: absolute;
  width: 8em;
  height: 8em;
  border-radius: 100%;
  border: 0.2em solid transparent;
  border-bottom-color: rgb(51, 105, 252);
  animation: rec 2s infinite;
  transition: all ease-in-out 0.3s;
 }
 
 .in {
  position: absolute;
  border-radius: 100%;
  border: 0.2em solid rgba(43, 226, 83, 0.11);
  width: 4em;
  height: 4em;
  transition: all ease-in-out 0.3s;
 }
 
 @keyframes rec {
  0% {
   transform: rotate(360deg);
  }
 }




.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
  fill: #000;
}

.arrow--right {
  left: auto;
  right: 5px;
  fill: #000;
}

.arrow--disabled {
  fill: rgba(65, 52, 52, 0.115);
}
  